version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8.11
    working_directory: ~/wayscript-python
    steps:
      - checkout
      - run:
          name: chown
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - run:
          name : Install
          command: |
            sudo pip install pipenv
            pipenv install
            pipenv run pip install requests
      - run:
          name: Run tests
          command: |
            pipenv run python -m unittest discover
